<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.excel.mapper.DataMapper">
    <select id="queryDeptList"  resultType="java.util.LinkedHashMap">
        select * from dept
    </select>

    <select id="queryChainList"  resultType="java.util.LinkedHashMap">
        SELECT
            chain.chain_id AS '门店编号',
            chain.chain_name AS '门店名称',
            chain.clerk_name AS '店主名称',
            chain.class_name AS '门店类型',
            chain.address AS '门店地址',
            chain.chain_phone AS '联系电话',
            online_rate.store_sign_discount AS '线上分销',
            offline_rate.store_sign_discount AS '线下分销'
        FROM chain
        LEFT JOIN
        (
            SELECT
                level_marketing_distribution_chain_site.chain_id,
                level_marketing_distribution_chain_site.store_sign_discount
            FROM level_marketing_distribution_chain_site
            WHERE level_marketing_distribution_chain_site.chain_type = 1
        ) AS online_rate
        ON online_rate.chain_id = chain.chain_id
        LEFT JOIN
        (
            SELECT
                level_marketing_distribution_chain_site.chain_id,
                level_marketing_distribution_chain_site.store_sign_discount
            FROM level_marketing_distribution_chain_site
            WHERE level_marketing_distribution_chain_site.chain_type = 2
        ) AS offline_rate
        ON offline_rate.chain_id = chain.chain_id

    </select>
	<select id="data1"  resultType="java.util.LinkedHashMap">
SELECT 
	*
FROM
(
	SELECT
		CONCAT('O2O',
			CASE chain_orders.orders_type
				WHEN 100 THEN '线上'
				WHEN 101 THEN '线下'
				WHEN 102 THEN '线下扫码'
			END
		) AS '订单类型',
		chain_orders.orders_sn AS '订单编号',
		CASE chain_orders.orders_state
			WHEN 0 THEN '订单被取消'
			WHEN 10 THEN '生成新订单'
			WHEN 30 THEN '已支付'
			WHEN 40 THEN '订单完成'
			WHEN 50 THEN '已接单'
			WHEN 60 THEN '已呼叫配送'
			WHEN 70 THEN '待收货'
			WHEN 80 THEN '待评价'
		END AS '订单状态',
		chain.chain_name AS '归属门店名称',
		store.store_name AS '归属店铺名称',
		goods_common.common_id AS '商品id',
		goods_common.goods_name AS '商品名称',
		chain_orders.create_time AS '下单时间',
		chain_orders.orders_amount + chain_orders.points_money_amount + chain_orders.freight_amount AS '订单金额',
		chain_orders.predeposit_amount AS '实付现金',
		chain_orders.points_money_amount AS '美豆抵扣',
		store.store_name AS '店铺名称',
		chain_orders.receiver_message AS '买家留言',
		member.member_id AS '买家编号',
		member.mobile AS '买家手机号'
	FROM chain_orders
	LEFT JOIN chain_orders_goods ON chain_orders_goods.orders_id = chain_orders.orders_id
	LEFT JOIN goods_common ON goods_common.common_id = chain_orders_goods.common_id
	LEFT JOIN chain ON chain.chain_id = chain_orders.chain_id
	LEFT JOIN store ON store.store_id = chain.store_id
	LEFT JOIN member ON member.member_id = chain_orders.member_id
	WHERE 1=1
	<if test="订单类型 != null and 订单类型 != ''">
	AND chain_orders.orders_type = #{订单类型}
	</if>
	<if test="订单状态 !=null and 订单状态 != ''">
	AND chain_orders.orders_state = #{订单状态}
	</if>
	<if test="订单编号 != null and 订单编号 != ''">
	AND chain_orders.orders_sn LIKE CONCAT('%', #{订单编号}, '%')
	</if>
	<if test="商品名称 != null and 商品名称 != ''">
	AND goods_common.goods_name LIKE CONCAT('%', #{商品名称}, '%')
	</if>
	<if test="门店名称 != null and 门店名称 != ''">
	AND chain.chain_name LIKE CONCAT('%', #{门店名称}, '%')
	</if>
	<if test="店铺名称 != null and 店铺名称 != ''">
	AND store.store_name LIKE CONCAT('%', #{店铺名称}, '%')
	</if>
	<if test="下单时间_start != null and 下单时间_start != '' and 下单时间_end != null and 下单时间_end != ''">
	AND chain_orders.create_time BETWEEN #{下单时间_start} AND #{下单时间_end}
	</if>
	<if test="买家编号 != null and 买家编号 != ''">
	AND member.member_id = #{买家编号}
	</if>
	<if test="买家手机号 != null and 买家手机号 != ''">
	AND member.mobile LIKE CONCAT('%', #{买家手机号}, '%')
	</if>
	
	UNION ALL

	SELECT
		'B2C' AS '订单类型',
		orders.orders_sn AS '订单编号',
		CASE orders.orders_state
			WHEN 0 THEN '订单被取消'
			WHEN 10 THEN '生成新订单'
			WHEN 30 THEN '已支付'
			WHEN 40 THEN '订单完成'
			WHEN 50 THEN '已接单'
			WHEN 60 THEN '已呼叫配送'
			WHEN 70 THEN '待收货'
			WHEN 80 THEN '待评价'
		END AS '订单状态',
		'' AS '归属门店名称',
		store.store_name AS '归属店铺名称',
		goods_common.common_id AS '商品id',
		goods_common.goods_name AS '商品名称',
		orders.create_time AS '下单时间',
		orders.orders_amount + orders.points_money_amount + orders.freight_amount AS '订单金额',
		orders.predeposit_amount AS '实付现金',
		orders.points_money_amount AS '美豆抵扣',
		store.store_name AS '店铺名称',
		orders.receiver_message AS '买家留言',
		member.member_id AS '买家编号',
		member.mobile AS '买家手机号'
	FROM orders
	LEFT JOIN orders_goods ON orders_goods.orders_id = orders.orders_id
	LEFT JOIN goods_common ON goods_common.common_id = orders_goods.common_id
	LEFT JOIN store ON store.store_id = orders.store_id
	LEFT JOIN member ON member.member_id = orders.member_id
	WHERE 1=1
	<if test="订单类型 != null and 订单类型 != '' and 订单类型 != 999">
	AND 1=2
	</if>
	<if test="订单状态 !=null and 订单状态 != ''">
	AND orders.orders_state = #{订单状态}
	</if>
	<if test="订单编号 != null and 订单编号 != ''">
	AND orders.orders_sn LIKE CONCAT('%', #{订单编号}, '%')
	</if>
	<if test="商品名称 != null and 商品名称 != ''">
	AND goods_common.goods_name LIKE CONCAT('%', #{商品名称}, '%')
	</if>
	<if test="门店名称 != null and 门店名称 != ''">
	AND chain.chain_name LIKE CONCAT('%', #{门店名称}, '%')
	</if>
	<if test="店铺名称 != null and 店铺名称 != ''">
	AND store.store_name LIKE CONCAT('%', #{店铺名称}, '%')
	</if>
	<if test="下单时间_start != null and 下单时间_start != '' and 下单时间_end != null and 下单时间_end != ''">
	AND orders.create_time BETWEEN #{下单时间_start} AND #{下单时间_end}
	</if>
	<if test="买家编号 != null and 买家编号 != ''">
	AND member.member_id = #{买家编号}
	</if>
	<if test="买家手机号 != null and 买家手机号 != ''">
	AND member.mobile LIKE CONCAT('%', #{买家手机号}, '%')
	</if>
) AS x
WHERE (x.订单类型 = 'B2C' OR x.订单类型 = 'O2O线上')
<if test="sort != null and sort != '' and order != null and order != ''">
ORDER BY ${sort} ${order}
</if>
	</select>
	<select id="data2"  resultType="java.util.LinkedHashMap">
SELECT
store.store_id AS '店铺编号',
store.store_name AS '店铺名称',
store.class_name AS '店铺类型',
store.seller_name AS '商家用户名',
store.store_zy AS '主营行业',
store.store_create_time AS '开店时间',
store.store_end_time AS '过期时间',
CASE store.state
	WHEN 0 THEN '开启'
	WHEN 1 THEN '关闭'
END AS '店铺状态',
level_marketing_distribution_store_site.store_sign_discount AS '分销比例',
CONCAT(store.bill_cycle,
	CASE store.bill_cycle_type
		WHEN 1 THEN '月'
		WHEN 2 THEN '天'
	END
) AS '结算周期'
FROM store
LEFT JOIN level_marketing_distribution_store_site ON level_marketing_distribution_store_site.store_id = store.store_id
WHERE 1=1
<if test="店铺编号 != null and 店铺编号 != ''">
AND store.store_id = #{店铺编号}
</if>
<if test="店铺名称 != null and 店铺名称 != ''">
AND store.store_name LIKE CONCAT('%', #{店铺名称}, '%')
</if>
<if test="店铺类型 != null and 店铺类型 != ''">
AND store.class_name LIKE CONCAT('%', #{店铺类型}, '%')
</if>
<if test="商家用户名 != null and 商家用户名 != ''">
AND store.seller_name LIKE CONCAT('%',  #{商家用户名}, '%')
</if>
<if test="主营行业 != null and 主营行业 != ''">
AND store.store_zy LIKE CONCAT('%', #{主营行业}, '%')
</if>
<if test="开店时间_start != null and 开店时间_start != ''">
AND store.store_create_time &gt;= #{开店时间_start}
</if>
<if test="开店时间_end != null and 开店时间_end != ''">
AND store.store_create_time &lt;= #{开店时间_end}
</if>
<if test="过期时间_start != null and 过期时间_start != ''">
AND store.store_end_time &gt;= #{过期时间_start}
</if>
<if test="过期时间_end != null and 过期时间_end != ''">
AND store.store_end_time &lt;= #{过期时间_end}
</if>
<if test="店铺状态 != null and 店铺状态 != ''">
AND store.state = #{店铺状态}
</if>
<if test="分销比例 != null and 分销比例 != ''">
AND level_marketing_distribution_store_site.store_sign_discount = #{分销比例}
</if>
<if test="结算周期_num != null and 结算周期_num != ''">
AND store.bill_cycle = #{结算周期_num}
</if>
<if test="结算周期_unit != null and 结算周期_unit != '' and 结算周期_unit != 0">
AND store.bill_cycle_type = #{结算周期_unit}
</if>
<if test="sort != null and sort != '' and order != null and order != ''">
ORDER BY ${sort} ${order}
</if>
	</select>
	<select id="data3"  resultType="java.util.LinkedHashMap">
SELECT 
	*
FROM
(
	SELECT
		chain_orders.orders_sn AS '订单编号',
		CASE chain_orders.orders_state
			WHEN 0 THEN '订单被取消'
			WHEN 10 THEN '生成新订单'
			WHEN 30 THEN '已支付'
			WHEN 40 THEN '订单完成'
			WHEN 50 THEN '已接单'
			WHEN 60 THEN '已呼叫配送'
			WHEN 70 THEN '待收货'
			WHEN 80 THEN '待评价'
		END AS '订单状态',
		CONCAT('O2O',
			CASE chain_orders.orders_type
				WHEN 100 THEN '线上'
				WHEN 101 THEN '线下'
				WHEN 102 THEN '线下扫码'
			END
		) AS '订单类型',
		chain.chain_name AS '门店名称',
		store.store_name AS '店铺名称',
		goods_common.common_id AS '商品id',
		goods_common.goods_name AS '商品名称',
		chain_orders.create_time AS '下单时间',
		chain_orders.orders_amount + chain_orders.points_money_amount + chain_orders.freight_amount AS '订单金额',
		chain_orders.predeposit_amount AS '实付现金',
		chain_orders.points_money_amount AS '美豆抵扣',
		chain_orders.receiver_message AS '买家留言',
		member.member_id AS '买家编号',
		member.mobile AS '买家手机号'
	FROM chain_orders
	LEFT JOIN chain_orders_goods ON chain_orders_goods.orders_id = chain_orders.orders_id
	LEFT JOIN goods_common ON goods_common.common_id = chain_orders_goods.common_id
	LEFT JOIN chain ON chain.chain_id = chain_orders.chain_id
	LEFT JOIN store ON store.store_id = chain.store_id
	LEFT JOIN member ON member.member_id = chain_orders.member_id
	WHERE 1=1
	<if test="订单编号 != null and 订单编号 != ''">
	AND chain_orders.orders_sn LIKE CONCAT('%', #{订单编号}, '%')
	</if>
	<if test="订单状态 != null and 订单状态 != ''">
	AND chain_orders.orders_state = #{订单状态}
	</if>
	<if test="门店名称 != null and 门店名称 != ''">
	AND chain.chain_name LIKE CONCAT('%', #{门店名称}, '%')
	</if>
	<if test="店铺名称 != null and 店铺名称 != ''">
	AND store.store_name LIKE CONCAT('%', #{店铺名称}, '%')
	</if>
	<if test="商品id != null and 商品id != ''">
	AND goods_common.common_id = #{商品id}
	</if>
	<if test="商品名称 != null and 商品名称 != ''">
	AND goods_common.goods_name LIKE CONCAT('%', #{商品名称}, '%')
	</if>
	<if test="实付现金 != null and 实付现金 != ''">
	AND chain_orders.orders_amount = #{实付现金}
	</if>
	<if test="买家留言 != null and 买家留言 != ''">
	AND chain_orders.receiver_message LIKE CONCAT('%', #{买家留言}, '%')
	</if>
	<if test="买家编号 != null and 买家编号 != ''">
	AND member.member_id = #{买家编号}
	</if>
	<if test="买家手机号 != null and 买家手机号 != ''">
	AND member.mobile LIKE CONCAT('%', #{买家手机号}, '%')
	</if>
	<if test="下单时间_start != null and 下单时间_start != ''">
	AND chain_orders.create_time &gt;= #{下单时间_start}
	</if>
	<if test="下单时间_end != null and 下单时间_end != ''">
	AND chain_orders.create_time &lt;= #{下单时间_end}
	</if>
<if test="门店名称 = null or 门店名称 = ''">
	UNION ALL

	SELECT
		'B2C' AS '订单类型',
		orders.orders_sn AS '订单编号',
		CASE orders.orders_state
			WHEN 0 THEN '订单被取消'
			WHEN 10 THEN '生成新订单'
			WHEN 30 THEN '已支付'
			WHEN 40 THEN '订单完成'
			WHEN 50 THEN '已接单'
			WHEN 60 THEN '已呼叫配送'
			WHEN 70 THEN '待收货'
			WHEN 80 THEN '待评价'
		END AS '订单状态',
		'' AS '门店名称',
		store.store_name AS '店铺名称',
		goods_common.common_id AS '商品id',
		goods_common.goods_name AS '商品名称',
		orders.create_time AS '下单时间',
		orders.orders_amount + orders.points_money_amount + orders.freight_amount AS '订单金额',
		orders.predeposit_amount AS '实付现金',
		orders.points_money_amount AS '美豆抵扣',
		orders.receiver_message AS '买家留言',
		member.member_id AS '买家编号',
		member.mobile AS '买家手机号'
	FROM orders
	LEFT JOIN orders_goods ON orders_goods.orders_id = orders.orders_id
	LEFT JOIN goods_common ON goods_common.common_id = orders_goods.common_id
	LEFT JOIN store ON store.store_id = orders.store_id
	LEFT JOIN member ON member.member_id = orders.member_id
	WHERE 1=1
	<if test="订单编号 != null and 订单编号 != ''">
	AND orders.orders_sn LIKE CONCAT('%', #{订单编号}, '%')
	</if>
	<if test="订单状态 != null and 订单状态 != ''">
	AND orders.orders_state = #{订单状态}
	</if>
	<if test="店铺名称 != null and 店铺名称 != ''">
	AND store.store_name LIKE CONCAT('%', #{店铺名称}, '%')
	</if>
	<if test="商品id != null and 商品id != ''">
	AND goods_common.common_id = #{商品id}
	</if>
	<if test="商品名称 != null and 商品名称 != ''">
	AND goods_common.goods_name LIKE CONCAT('%', #{商品名称}, '%')
	</if>
	<if test="实付现金 != null and 实付现金 != ''">
	AND orders.orders_amount = #{实付现金}
	</if>
	<if test="买家留言 != null and 买家留言 != ''">
	AND orders.receiver_message LIKE CONCAT('%', #{买家留言}, '%')
	</if>
	<if test="买家编号 != null and 买家编号 != ''">
	AND member.member_id = #{买家编号}
	</if>
	<if test="买家手机号 != null and 买家手机号 != ''">
	AND member.mobile LIKE CONCAT('%', #{买家手机号}, '%')
	</if>
	<if test="下单时间_start != null and 下单时间_start != ''">
	AND orders.create_time &gt;= #{下单时间_start}
	</if>
	<if test="下单时间_end != null and 下单时间_end != ''">
	AND orders.create_time &lt;= #{下单时间_end}
	</if>
</if>
) AS x
WHERE x.订单类型 IN ('B2C', 'O2O线上')
<if test="订单类型 != null and 订单类型 != ''">
AND x.订单类型 = #{订单类型}
</if>
<if test="订单金额 != null and 订单金额 != ''">
AND x.订单金额 = #{订单金额}
</if>
<if test="sort != null and sort != '' and order != null and order != ''">
ORDER BY ${sort} ${order}
</if>
	</select>

	<select id="data4"  resultType="java.util.LinkedHashMap">
SELECT * FROM (
	SELECT
		member.member_name AS '会员名称',
		member.mobile AS '会员电话',
		points_log.points AS '美豆增减',
		points_log.add_time AS '添加时间',
		points_log.operation_stage AS '操作阶段',
		points_log.description AS '操作描述',
		-- '' AS '操作门店名称',
		chain_orders.orders_sn AS 'O2O订单号',
		chain.chain_name AS 'O2O操作门店',
		'' AS 'B2C订单号',
		'' AS 'B2C操作店铺'
	FROM points_log
	LEFT JOIN member ON member.member_id = points_log.member_id
	LEFT JOIN chain_orders ON TRUE
	LEFT JOIN chain ON chain.chain_id = chain_orders.chain_id
	WHERE POSITION(chain_orders.orders_sn IN points_log.description) > 0
	<if test="会员名称 != null and 会员名称 != ''">
	AND member.member_name LIKE CONCAT('%', #{会员名称}, '%')
	</if>
	<if test="会员电话 != null and 会员电话 != ''">
	AND member.mobile LIKE CONCAT('%', #{会员电话}, '%')
	</if>
	<if test="添加时间_start != null and 添加时间_start != ''">
	AND points_log.add_time &gt;= #{添加时间_start}
	</if>
	<if test="添加时间_end != null and 添加时间_end != ''">
	AND points_log.add_time &lt;= #{添加时间_end}
	</if>
	<if test="操作阶段 != null and 操作阶段 != ''">
	AND points_log.operation_stage LIKE CONCAT('%', #{操作阶段}, '%')
	</if>
	<if test="操作描述 != null and 操作描述 != ''">
	AND points_log.description LIKE CONCAT('%', #{操作描述}, '%')
	</if>
	<if test="O2O订单号 != null and O2O订单号 != ''">
	AND chain_orders.orders_sn LIKE CONCAT('%', #{O2O订单号}, '%')
	</if>
	<if test="O2O操作门店 != null and O2O操作门店 != ''">
	AND chain.chain_name LIKE CONCAT('%', #{O2O操作门店}, '%')
	</if>
	<if test="B2C订单号 != null and B2C订单号 != ''">
	AND '' = #{B2C订单号}
	</if>
	<if test="B2C操作店铺 != null and B2C操作店铺 != ''">
	AND '' = #{B2C操作店铺}
	</if>
	
	UNION ALL

	SELECT
		member.member_name AS '会员名称',
		member.mobile AS '会员电话',
		points_log.points AS '美豆增减',
		points_log.add_time AS '添加时间',
		points_log.operation_stage AS '操作阶段',
		points_log.description AS '操作描述',
		-- '' AS '操作门店名称',
		'' AS 'O2O订单号',
		'' AS 'O2O操作门店',
		orders.orders_sn AS 'B2C订单号',
		store.store_name AS 'B2C操作店铺'
	FROM points_log
	LEFT JOIN member ON member.member_id = points_log.member_id
	LEFT JOIN orders ON TRUE
	LEFT JOIN store ON store.store_id = orders.store_id
	WHERE POSITION(orders.orders_sn IN points_log.description) > 0
	<if test="会员名称 != null and 会员名称 != ''">
	AND member.member_name LIKE CONCAT('%', #{会员名称}, '%')
	</if>
	<if test="会员电话 != null and 会员电话 != ''">
	AND member.mobile LIKE CONCAT('%', #{会员电话}, '%')
	</if>
	<if test="添加时间_start != null and 添加时间_start != ''">
	AND points_log.add_time &gt;= #{添加时间_start}
	</if>
	<if test="添加时间_end != null and 添加时间_end != ''">
	AND points_log.add_time &lt;= #{添加时间_end}
	</if>
	<if test="操作阶段 != null and 操作阶段 != ''">
	AND points_log.operation_stage LIKE CONCAT('%', #{操作阶段}, '%')
	</if>
	<if test="操作描述 != null and 操作描述 != ''">
	AND points_log.description LIKE CONCAT('%', #{操作描述}, '%')
	</if>
	<if test="O2O订单号 != null and O2O订单号 != ''">
	AND '' = #{O2O订单号}
	</if>
	<if test="O2O操作门店 != null and O2O操作门店 != ''">
	AND '' = #{O2O操作门店}
	</if>
	<if test="B2C订单号 != null and B2C订单号 != ''">
	AND orders.orders_sn LIKE CONCAT('%', #{B2C订单号}, '%')
	</if>
	<if test="B2C操作店铺 != null and B2C操作店铺 != ''">
	AND store.store_name LIKE CONCAT('%', #{B2C操作店铺}, '%')
	</if>
) AS x
<if test="sort != null and sort != '' and order != null and order != ''">
ORDER BY ${sort} ${order}
</if>
	</select>


	<select id="data5"  resultType="java.util.LinkedHashMap">
SELECT
	chain.chain_name AS '门店名称',
	x.日期 AS '日期',
	SUM(x.销售额) AS '销售额',
	SUM(x.订单数) AS '订单数',
	SUM(x.新增会员) AS '新增会员',
	SUM(x.美豆使用数) AS '美豆使用数'
FROM chain
LEFT JOIN
(
	(
		SELECT
			chain_orders.chain_id,
			DATE_FORMAT(chain_orders.create_time, '%Y-%m-%d') AS '日期',
			SUM(chain_orders.orders_amount + chain_orders.points_money_amount + chain_orders.coupon_amount) AS '销售额',
			COUNT(DISTINCT chain_orders.orders_id) AS '订单数',
			0 AS '新增会员',
			SUM(chain_orders.points_money_amount) AS '美豆使用数'
		FROM chain_orders
		WHERE chain_orders.orders_state = 40
		GROUP BY chain_orders.chain_id, DATE_FORMAT(chain_orders.create_time, '%Y-%m-%d')
	)
	UNION ALL
	(
		SELECT
			member.invitation_chain_id AS chain_id,
			DATE_FORMAT(member.register_time, '%Y-%m-%d') AS '日期',
			0 AS '销售额',
			0 AS '订单数',
			COUNT(DISTINCT member.member_id) AS '新增会员',
			0 AS '美豆使用数'
		FROM member
		GROUP BY member.invitation_chain_id, DATE_FORMAT(member.register_time, '%Y-%m-%d')
	)
) AS x
ON x.chain_id = chain.chain_id
WHERE TRUE
        -- 	AND chain.chain_name LIKE '%一树%'
        <if test="日期 != null and 日期 != ''">
            AND (x.日期 = #{日期})
        </if>
        <if test="门店名称 != null and 门店名称 != ''">
            AND chain.chain_name LIKE CONCAT('%',#{门店名称},'%')
        </if>
        <!--<if >-->
        <!--AND (x.日期 = '2020-07-27')-->
        <!--</if>-->
GROUP BY x.chain_id, x.日期
ORDER BY x.chain_id, x.日期 DESC
</select>


	<select id="data6" parameterType="java.util.Map"  resultType="java.util.LinkedHashMap">
SELECT * FROM
(
SELECT
	chain.chain_id AS '门店编号',
	chain.chain_name AS '门店名称',
	chain.clerk_name AS '店主名称',
	chain.class_name AS '门店类型',
	chain.address AS '门店地址',
	chain.chain_phone AS '联系电话',
	online_rate.store_sign_discount AS '线上分销',
	offline_rate.store_sign_discount AS '线下分销'
FROM chain
LEFT JOIN
(
	SELECT
		level_marketing_distribution_chain_site.chain_id,
		level_marketing_distribution_chain_site.store_sign_discount
	FROM level_marketing_distribution_chain_site
	WHERE level_marketing_distribution_chain_site.chain_type = 1
) AS online_rate
ON online_rate.chain_id = chain.chain_id
LEFT JOIN
(
	SELECT
		level_marketing_distribution_chain_site.chain_id,
		level_marketing_distribution_chain_site.store_sign_discount
	FROM level_marketing_distribution_chain_site
	WHERE level_marketing_distribution_chain_site.chain_type = 2
) AS offline_rate
ON offline_rate.chain_id = chain.chain_id
) AS x
WHERE 1=1
<if test="门店编号 != null and 门店编号 != ''">
AND 门店编号 = #{门店编号}
</if>
<if test="门店名称 != null and 门店名称 != ''">
AND 门店名称 LIKE CONCAT('%',#{门店名称},'%')
</if>
<if test="店主名称 != null and 店主名称 != ''">
AND 店主名称 LIKE CONCAT('%',#{店主名称},'%')
</if>
<if test="门店类型 != null and 门店类型 != ''">
AND 门店类型 LIKE CONCAT('%',#{门店类型},'%')
</if>
<if test="门店地址 != null and 门店地址 != ''">
AND 门店地址 LIKE CONCAT('%',#{门店地址},'%')
</if>
<if test="联系电话 != null and 联系电话 != ''">
AND 联系电话 LIKE CONCAT('%',#{联系电话},'%')
</if>
<if test="线上分销 != null and 线上分销 != ''">
AND 线上分销 = #{线上分销}
</if>
<if test="线下分销 != null and 线下分销 != ''">
AND 线下分销 = #{线下分销}
</if>
<if test="sort != null and sort != '' and order != null and order != ''">
ORDER BY ${sort} ${order}
</if>
	</select>
	<select id="data7"  resultType="java.util.LinkedHashMap">
        SELECT
        x.`时间/每天` AS '时间_每天',
        SUM(x.`销售额`) AS '销售额',
        SUM(x.`订单数`) AS '订单数',
        SUM(x.`新增会员`) AS '新增会员',
        SUM(x.`美豆使用数`) AS '美豆使用数',
        SUM(x.`积美豆数`) AS '积美豆数',
        SUM(x.`美豆使用人数`) AS '美豆使用人数',
        SUM(x.`赠送美豆人数`) AS '赠送美豆人数'
        FROM
        (
        SELECT
        DATE_FORMAT(chain_orders.create_time, '%Y-%m-%d') AS '时间/每天',
        SUM(chain_orders.orders_amount + chain_orders.points_money_amount) AS '销售额',
        COUNT(DISTINCT chain_orders.orders_id) AS '订单数',
        0 AS '新增会员',
        0 AS '美豆使用数',
        0 AS '积美豆数',
        0 AS '美豆使用人数',
        0 AS '赠送美豆人数'
        FROM chain_orders
        WHERE chain_orders.orders_state = 40 -- 订单完成
        GROUP BY DATE_FORMAT(chain_orders.create_time, '%Y-%m-%d')

        UNION ALL

        SELECT
        DATE_FORMAT(orders.create_time, '%Y-%m-%d') AS '时间/每天',
        SUM(orders.orders_amount + orders.points_money_amount) AS '销售额',
        COUNT(DISTINCT orders.orders_id) AS '订单数',
        0 AS '新增会员',
        0 AS '美豆使用数',
        0 AS '积美豆数',
        0 AS '美豆使用人数',
        0 AS '赠送美豆人数'
        FROM orders
        WHERE orders.orders_state = 40 -- 订单完成
        GROUP BY DATE_FORMAT(orders.create_time, '%Y-%m-%d')

        UNION ALL

        SELECT
        DATE_FORMAT(member.register_time, '%Y-%m-%d') AS '时间/每天',
        0 AS '销售额',
        0 AS '订单数',
        COUNT(DISTINCT member.member_id) AS '新增会员',
        0 AS '美豆使用数',
        0 AS '积美豆数',
        0 AS '美豆使用人数',
        0 AS '赠送美豆人数'
        FROM member
        GROUP BY DATE_FORMAT(member.register_time, '%Y-%m-%d')

        UNION ALL

        SELECT
        DATE_FORMAT(points_log.add_time, '%Y-%m-%d') AS '时间/每天',
        0 AS '销售额',
        0 AS '订单数',
        0 AS '新增会员',
        SUM(points_log.points) AS '美豆使用数',
        0 AS '积美豆数',
        COUNT(DISTINCT points_log.member_id) AS '美豆使用人数',
        0 AS '赠送美豆人数'
        FROM points_log
        WHERE points_log.points &lt; 0
        GROUP BY DATE_FORMAT(points_log.add_time, '%Y-%m-%d')

        UNION ALL

        SELECT
        DATE_FORMAT(points_log.add_time, '%Y-%m-%d') AS '时间/每天',
        0 AS '销售额',
        0 AS '订单数',
        0 AS '新增会员',
        0 AS '美豆使用数',
        SUM(points_log.points) AS '积美豆数',
        0 AS '美豆使用人数',
        COUNT(DISTINCT points_log.member_id) AS '赠送美豆人数'
        FROM points_log
        WHERE points_log.points > 0
		AND points_log.description != 'pointsmoney'
        GROUP BY DATE_FORMAT(points_log.add_time, '%Y-%m-%d')
        ) AS x
        WHERE 1=1
        GROUP BY x.`时间/每天`
        order by   x.`时间/每天` desc
	</select>
	<select id="data8"  resultType="java.util.LinkedHashMap">
		SELECT
		chain_orders.create_time AS '创建订单时间',
		-- seller.seller_name AS '商家名称',
		-- store.store_name AS '店铺名称',
		chain.chain_name AS '门店名称',
		member.member_name AS '会员名称',
		member.mobile AS '会员电话号码',
		CASE chain_orders.orders_type
		WHEN 100 THEN 'O2O线上'
		WHEN 101 THEN 'O2O线下'
		WHEN 102 THEN 'O2O线下扫码'
		END AS '订单类型',
		chain_orders.orders_sn AS '订单编号',
		CASE chain_orders.payment_code
		WHEN 'predeposit' THEN '收益'
		WHEN 'wxpay' THEN '微信'
		WHEN 'alipay' THEN '支付宝'
		WHEN 'yunpay' THEN '云闪付'
		WHEN 'kangfutong' THEN '康付通'
		WHEN 'pinganjiankangka' THEN '平安健康卡'
		WHEN 'offline' THEN '货到付款'
		WHEN 'chain' THEN '门店付款'
		END AS '支付方式',
		CASE chain_orders.orders_state
		WHEN 0 THEN '订单被取消'
		WHEN 10 THEN '生成新订单'
		WHEN 30 THEN '已支付'
		WHEN 40 THEN '订单完成'
		WHEN 50 THEN '已接单'
		WHEN 60 THEN '已呼叫配送'
		WHEN 70 THEN '待收货'
		WHEN 80 THEN '待评价'
		END AS '订单状态',
		(chain_orders.orders_amount+chain_orders.points_money_amount+chain_orders.coupon_amount) AS '订单总金额',
		FORMAT(chain_orders.orders_amount+chain_orders.points_money_amount+chain_orders.coupon_amount - (FLOOR((chain_orders.orders_amount+chain_orders.points_money_amount+chain_orders.coupon_amount) * 0.13) / 100), 2) AS '预期到账金额',
		chain_orders.orders_amount AS '现金支付金额',
		chain_orders.points_money_amount AS '美豆抵扣金额',
		chain_orders.coupon_amount AS '平台券抵扣金额',
		'暂时无法统计' AS '订单消费返美豆'
		FROM chain_orders
		LEFT JOIN chain ON chain.chain_id = chain_orders.chain_id
		LEFT JOIN store ON store.store_id = chain.store_id
		LEFT JOIN seller ON seller.seller_id = store.seller_id
		LEFT JOIN member ON member.member_id = chain_orders.member_id
		WHERE chain_orders.orders_type = 102
		AND chain.chain_name != ''
		<if test="创建订单开始时间 != null and 创建订单开始时间 != ''and 创建订单结束时间 != null and 创建订单结束时间 != ''">
		AND chain_orders.create_time BETWEEN #{创建订单开始时间} AND #{创建订单结束时间}
		</if>
		<if test="会员名称 != null and 会员名称 != ''">
			AND member.member_name=#{会员名称}
		</if>
		<if test="门店名称 != null and 门店名称 != ''">
		AND chain.chain_name=#{门店名称}
		</if>
		<if test="会员电话号码 != null and 会员电话号码 != ''">
			AND member.mobile=#{会员电话号码}
		</if>
		<if test="订单编号 != null and 订单编号 != ''">
			AND chain_orders.orders_sn=#{订单编号}
		</if>
		<if test="订单类型 != null and 订单类型 != ''">
			AND chain_orders.orders_type=#{订单类型}
		</if>
		<if test="支付方式 != null and 支付方式 != ''">
			AND chain_orders.payment_code=#{支付方式}
		</if>
		<if test="订单状态 != null and 订单状态 != ''">
			AND chain_orders.orders_state=#{订单状态}
		</if>

		ORDER BY chain.chain_name, chain_orders.create_time
	</select>

	<select id="data9"  resultType="java.util.LinkedHashMap">
		SELECT t.*,FLOOR(t.`现金支付金额`*l.alone_consumer_rate)/100 as '订单消费返美豆'  from
(SELECT
  chain.chain_id,
	chain.chain_name AS '门店名称',
	chain_orders.create_time AS '创建订单时间',
	CASE chain_orders.orders_type
		WHEN 100 THEN 'O2O线上'
		WHEN 101 THEN 'O2O线下'
		WHEN 102 THEN 'O2O线下扫码'
	END AS '订单类型',
	chain_orders.orders_sn AS '订单编号',
	CASE chain_orders.payment_code
		WHEN 'predeposit' THEN '收益'
		WHEN 'wxpay' THEN '微信'
		WHEN 'alipay' THEN '支付宝'
		WHEN 'yunpay' THEN '云闪付'
		WHEN 'kangfutong' THEN '康付通'
		WHEN 'pinganjiankangka' THEN '平安健康卡'
		WHEN 'offline' THEN '货到付款'
		WHEN 'chain' THEN '门店付款'
	END AS '支付方式',
	CASE chain_orders.orders_state
		WHEN 0 THEN '订单被取消'
		WHEN 10 THEN '生成新订单'
		WHEN 30 THEN '已支付'
		WHEN 40 THEN '订单完成'
		WHEN 50 THEN '已接单'
		WHEN 60 THEN '已呼叫配送'
		WHEN 70 THEN '待收货'
		WHEN 80 THEN '待评价'
	END AS '订单状态',
	(chain_orders.orders_amount+chain_orders.points_money_amount+chain_orders.coupon_amount) AS '订单总金额',
	FORMAT(chain_orders.orders_amount+chain_orders.points_money_amount+chain_orders.coupon_amount - (FLOOR((chain_orders.orders_amount+chain_orders.points_money_amount+chain_orders.coupon_amount) * 0.13) / 100), 2) AS '预期到账金额',
	chain_orders.orders_amount AS '现金支付金额',
	chain_orders.points_money_amount AS '美豆抵扣金额',
	chain_orders.coupon_amount AS '平台券抵扣金额'
FROM chain_orders
LEFT JOIN chain ON chain.chain_id = chain_orders.chain_id
-- LEFT JOIN member
WHERE chain_orders.orders_type = 102
-- and chain_orders.orders_sn=5180000001721001
and chain_orders.orders_state=40
		<if test="创建订单开始时间 != null and 创建订单开始时间 != ''and 创建订单结束时间 != null and 创建订单结束时间 != ''">
AND chain_orders.create_time BETWEEN #{创建订单开始时间} AND #{创建订单结束时间}
		</if>
ORDER BY chain_orders.create_time) as t
left join
(SELECT * from
level_marketing_distribution_chain_site where chain_type=2) as l
on t.chain_id=l.chain_id
WHERE 1=1
		<if test="chain_id != null and chain_id != ''">
		  AND t.chain_id=#{chain_id}
		</if>
		<if test="门店名称 != null and 门店名称 != ''">
			AND t.门店名称=#{门店名称}
		</if>
		<if test="订单编号 != null and 订单编号 != ''">
			AND t.订单编号=#{订单编号}
		</if>
		<if test="订单类型 != null and 订单类型 != ''">
			AND t.订单类型=#{订单类型}
		</if>
		<if test="支付方式 != null and 支付方式 != ''">
		AND t.支付方式=#{支付方式}
		</if>
		<if test="订单状态 != null and 订单状态 != ''">
			AND t.订单状态=#{订单状态}
		</if>
ORDER BY t.chain_id DESC
</select>


	<select id="data10"  resultType="java.util.LinkedHashMap">
			SELECT
		s.seller_name AS 商家用户名,
		s.store_name AS 店铺名称,
		s.joinin_submit_time AS 申请时间,
		s.joinin_year AS 申请年限,
		s.apply_status_msg AS 签约状态,
		s.joinin_message AS 签约意见,
		(
			CASE s.state
			WHEN 10 THEN
				'入驻新申请'
			WHEN 15 THEN
				'初审失败'
			WHEN 16 THEN
				'待上传银联签约资料'
			WHEN 20 THEN
				'初审成功'
			WHEN 30 THEN
				'缴费完成'
			WHEN 35 THEN
				'缴费审核失败'
			WHEN 40 THEN
				'入驻信息更新申请'
			WHEN 45 THEN
				'入驻信息更新申请失败'
			WHEN 50 THEN
				'缴费审核成功'
			WHEN 90 THEN
				'审核成功'
			ELSE
				NULL
			END
		) AS 申请状态,
		s.offline_discount AS 线上比例,
		s.online_discount AS 线下比例,
		i.iron_name AS 维护人铁军,
		CONCAT_WS(",",c.company_address,c.company_address_detail) as 商家详细地址
	FROM
		store_joinin s
	LEFT JOIN store_certificate c ON s.seller_id = c.seller_id
	LEFT JOIN seller l ON s.seller_id = l.seller_id
	LEFT JOIN iron_army i ON l.iron_id = i.iron_id
	WHERE
		1=1
		<if test="申请时间_start != null and 申请时间_start != '' and 申请时间_end !=null and 申请时间_end !=''">
		and s.joinin_submit_time BETWEEN #{申请时间_start} AND #{申请时间_end}
		</if>
		<if test="商家用户名 != null and 商家用户名 != ''">
			and s.seller_name=#{商家用户名}
		</if>
		<if test="店铺名称 != null and 店铺名称 != ''">
			and s.store_name=#{店铺名称}
		</if>
		ORDER BY s.joinin_submit_time
	</select>
	<select id="data11"  resultType="java.util.LinkedHashMap">
SELECT x.* FROM (

SELECT
	member.member_id AS '会员编号',
	member.member_name AS '会员名称',
	member.mobile AS '会员电话',
	member.invitation_chain_id AS '会员归属门店编号',
	chain.chain_name AS '会员归属门店名称',
	points_log.add_time AS '时间',
	CASE points_log.operation_stage
		WHEN 'login' THEN '会员登录'
		WHEN 'comments' THEN '商品评论'
		WHEN 'orders' THEN '订单消费'
		WHEN 'register' THEN '会员注册'
		WHEN 'admin' THEN '管理员增减'
		WHEN 'coupon' THEN '领取平台券'
		WHEN 'membersignin' THEN '会员签到'
		WHEN 'pointsorders' THEN '兑换商品'
		WHEN 'activity' THEN '参加活动'
		WHEN 'pointsmoney' THEN '美豆抵现'
	END AS '操作阶段',
	points_log.points AS '美豆变更数额',
	points_log.description AS '描述',
	'' AS '订单号',
	'' AS '订单类型',
	'' AS '订单关联门店编号',
	'' AS '订单关联门店名称',
	'' AS '订单关联店铺编号',
	'' AS '订单关联店铺名称'
FROM points_log
LEFT JOIN member ON member.member_id = points_log.member_id
LEFT JOIN chain ON chain.chain_id = member.invitation_chain_id
WHERE points_log.points != 0
	AND points_log.description NOT LIKE '%取消，退还美豆%'
	AND member.member_name IS NOT NULL
<if test="会员编号 != null and 会员编号 != ''">
AND member.member_id = #{会员编号}
</if>
<if test="会员名称 != null and 会员名称 != ''">
AND member.member_name LIKE CONCAT('%', #{会员名称}, '%')
</if>
<if test="会员电话 != null and 会员电话 != ''">
AND member.member_name LIKE CONCAT('%', #{会员电话}, '%')
</if>
<if test="时间_start != null and 时间_start != ''">
AND points_log.add_time &gt;= #{时间_start}
</if>
<if test="时间_end != null and 时间_end != ''">
AND points_log.add_time &lt;= #{时间_end}
</if>

UNION ALL

SELECT
	member.member_id AS '会员编号',
	member.member_name AS '会员名称',
	member.mobile AS '会员电话',
	member.invitation_chain_id AS '会员归属门店编号',
	chain.chain_name AS '会员归属门店名称',
	chain_orders.finish_time AS '时间',
	'美豆抵现' AS '操作阶段',
	chain_orders.points_money_amount * -1 AS '美豆变更数额',
	'' AS '描述',
	chain_orders.orders_sn AS '订单号',
	CASE chain_orders.orders_type
	WHEN 100 THEN 'O2O线上'
	WHEN 101 THEN 'O2O线下'
	WHEN 102 THEN 'O2O线下扫码'
	END AS '订单类型',
	chain_orders.chain_id AS '订单关联门店编号',
	chain_orders.chain_name AS '订单关联门店名称',
	'' AS '订单关联店铺编号',
	'' AS '订单关联店铺名称'
FROM chain_orders
LEFT JOIN member ON member.member_id = chain_orders.member_id
LEFT JOIN chain ON chain.chain_id = member.invitation_chain_id
WHERE chain_orders.orders_state = 40
	AND chain_orders.orders_amount > 0
	AND chain_orders.points_money_amount > 0
<if test="会员编号 != null and 会员编号 != ''">
AND member.member_id = #{会员编号}
</if>
<if test="会员名称 != null and 会员名称 != ''">
AND member.member_name LIKE CONCAT('%', #{会员名称}, '%')
</if>
<if test="会员电话 != null and 会员电话 != ''">
AND member.member_name LIKE CONCAT('%', #{会员电话}, '%')
</if>
<if test="时间_start != null and 时间_start != ''">
AND chain_orders.finish_time &gt;= #{时间_start}
</if>
<if test="时间_end != null and 时间_end != ''">
AND chain_orders.finish_time &lt;= #{时间_end}
</if>

UNION ALL

SELECT
	member.member_id AS '会员编号',
	member.member_name AS '会员名称',
	member.mobile AS '会员电话',
	member.invitation_chain_id AS '会员归属门店编号',
	chain.chain_name AS '会员归属门店名称',
	orders.finish_time AS '时间',
	'美豆抵现' AS '操作阶段',
	orders.points_money_amount * -1 AS '美豆变更数额',
	'' AS '描述',
	orders.orders_sn AS '订单号',
	'B2C' AS '订单类型',
	'' AS '订单关联门店编号',
	'' AS '订单关联门店名称',
	orders.store_id AS '订单关联店铺编号',
	orders.store_name AS '订单关联店铺名称'
FROM orders
LEFT JOIN member ON member.member_id = orders.member_id
LEFT JOIN chain ON chain.chain_id = member.invitation_chain_id
WHERE orders.orders_state = 40
	AND orders.orders_amount > 0
	AND orders.points_money_amount > 0
<if test="会员编号 != null and 会员编号 != ''">
AND member.member_id = #{会员编号}
</if>
<if test="会员名称 != null and 会员名称 != ''">
AND member.member_name LIKE CONCAT('%', #{会员名称}, '%')
</if>
<if test="会员电话 != null and 会员电话 != ''">
AND member.member_name LIKE CONCAT('%', #{会员电话}, '%')
</if>
<if test="时间_start != null and 时间_start != ''">
AND orders.finish_time &gt;= #{时间_start}
</if>
<if test="时间_end != null and 时间_end != ''">
AND orders.finish_time &lt;= #{时间_end}
</if>

) AS x
<if test="sort != null and sort != '' and order != null and order != ''">
ORDER BY ${sort} ${order}
</if>
	</select>
	<select id="data12"  resultType="java.util.LinkedHashMap">
SELECT
*
FROM (
SELECT
	chain_orders.orders_sn AS '订单编号',
	chain_orders.create_time AS '下单时间',
	chain_orders.orders_amount + chain_orders.points_money_amount + chain_orders.coupon_amount AS '订单金额',
	chain_orders.pay_sn AS '支付编号',
	chain_orders.payment_time AS '支付时间',
	chain_orders.finish_time AS '完成时间',
	CASE chain_orders.orders_type
		WHEN 100 THEN FORMAT((chain_orders.orders_amount + chain_orders.points_money_amount + chain_orders.coupon_amount) * O2O_online.store_sign_discount * O2O_online.platform_commission / 10000, 4)
		WHEN 101 THEN FORMAT((chain_orders.orders_amount + chain_orders.points_money_amount + chain_orders.coupon_amount) * O2O_online.store_sign_discount * O2O_online.platform_commission / 10000, 4)
		WHEN 102 THEN FORMAT((chain_orders.orders_amount + chain_orders.points_money_amount + chain_orders.coupon_amount) * O2O_offline.store_sign_discount * O2O_offline.platform_commission / 10000, 4)
	END AS '收益金额',
	CASE chain_orders.orders_type
		WHEN 100 THEN 'O2O线上'
		WHEN 101 THEN 'O2O线下'
		WHEN 102 THEN 'O2O线下扫码'
	END AS '订单类型',
	chain_orders.chain_id AS '订单归属门店ID',
	chain_orders.chain_name AS '订单归属门店名称',
	'' AS '订单归属店铺ID',
	'' AS '订单归属店铺名称',
	O2O_online.store_sign_discount AS 'O2O线上签约折扣比例',
	O2O_online.platform_commission AS 'O2O线上平台收益占比',
	O2O_offline.store_sign_discount AS 'O2O线下签约折扣比例',
	O2O_offline.platform_commission AS 'O2O线下平台收益占比',
	'' AS 'B2C签约折扣比例',
	'' AS 'B2C平台收益占比'
FROM chain_orders
LEFT JOIN
(
	SELECT
		level_marketing_distribution_chain_site.*
	FROM level_marketing_distribution_chain_site
	WHERE level_marketing_distribution_chain_site.chain_type = 1
) AS O2O_online
ON O2O_online.chain_id = chain_orders.chain_id
LEFT JOIN
(
	SELECT
		level_marketing_distribution_chain_site.*
	FROM level_marketing_distribution_chain_site
	WHERE level_marketing_distribution_chain_site.chain_type = 2
) AS O2O_offline
ON O2O_offline.chain_id = chain_orders.chain_id
WHERE chain_orders.orders_state = 40
<if test="订单编号 != null and 订单编号 != ''">
AND chain_orders.orders_sn LIKE CONCAT('%', #{订单编号}, '%')
</if>
<if test="订单类型 != null and 订单类型 != ''">
AND chain_orders.orders_type = #{订单类型}
</if>
<if test="时间_start != null and 时间_start != ''">
AND chain_orders.finish_time &gt;= #{时间_start}
</if>
<if test="时间_end != null and 时间_end != ''">
AND chain_orders.finish_time &lt;= #{时间_end}
</if>

UNION ALL

SELECT
	orders.orders_sn AS '订单编号',
	orders.create_time AS '下单时间',
	orders.orders_amount + orders.points_money_amount + orders.coupon_amount AS '订单金额',
	orders.pay_sn AS '支付编号',
	orders.payment_time AS '支付时间',
	orders.finish_time AS '完成时间',
	FORMAT((orders.orders_amount + orders.points_money_amount + orders.coupon_amount) * B2C.store_sign_discount * B2C.platform_commission / 10000, 4) AS '收益金额',
	'B2C' AS '订单类型',
	'' AS '订单归属门店ID',
	'' AS '订单归属门店名称',
	orders.store_id AS '订单归属店铺ID',
	orders.store_name AS '订单归属店铺名称',
	'' AS 'O2O线上签约折扣比例',
	'' AS 'O2O线上平台收益占比',
	'' AS 'O2O线下签约折扣比例',
	'' AS 'O2O线下平台收益占比',
	B2C.store_sign_discount AS 'B2C签约折扣比例',
	B2C.platform_commission AS 'B2C平台收益占比'
FROM orders
LEFT JOIN level_marketing_distribution_store_site B2C ON B2C.store_id = orders.store_id
WHERE orders.orders_state = 40
<if test="订单编号 != null and 订单编号 != ''">
AND orders.orders_sn LIKE CONCAT('%', #{订单编号}, '%')
</if>
<if test="订单类型 != null and 订单类型 != ''">
AND 'B2C' = #{订单类型}
</if>
<if test="时间_start != null and 时间_start != ''">
AND orders.finish_time &gt;= #{时间_start}
</if>
<if test="时间_end != null and 时间_end != ''">
AND orders.finish_time &lt;= #{时间_end}
</if>

) AS x
WHERE 1=1
<if test="sort != null and sort != '' and order != null and order != ''">
ORDER BY ${sort} ${order}
</if>
	</select>
</mapper>